*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", sans-serif;
}

.splitter__title {
  text-align: center;
  margin-top: 100px;
}
.splitter__title p {
  color: #00474a;
  letter-spacing: 13px;
  font-weight: 900;
  font-size: 22px;
}

.calculator__block {
  background-color: hsl(0, 0%, 100%);
  width: 900px;
  height: 500px;
  border-radius: 25px;
  display: flex;
  margin: 60px auto 0px auto;
  display: flex;
  justify-content: space-between;
}

.operations__block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  padding: 30px;
}
.bill__space,
.space__people {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bill__label {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 900;
  color: #396e5d;
}

.bill__input {
  width: 390px;
  height: 40px;
  font-size: 25px;
  background-color: #f2f9fb;
  color: #577370;
  border: none;
  outline: none;
  text-align: right;
  padding: 0 5px;
}

.bill__input::placeholder {
  color: #729590;
  display: flex;
  justify-items: center;
  font-size: 25px;
}

.bill__input:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.dollar__sign {
  position: absolute;
  top: 47px;
  left: 10px;
  color: #729590;
}

.tips__text {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 900;
  color: #396e5d;
}

.values__ranges {
  display: flex;
  flex-direction: column;
}

.values__ranges button {
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  outline: none;
  border: none;
  color: #f2f9fb;
  background-color: #074347;
  margin: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.values__ranges button:hover {
  background-color: #9fe9e0;
  color: #00474a;
}

.values__ranges input {
  width: 120px;
  height: 40px;
  margin: 3px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #f3fcfc;
  color: #28726b;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: right;
  padding: 0px 10px;
  cursor: pointer;
}

.values__ranges input::placeholder {
  text-align: center;
}

.values__ranges input:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.people__input {
  width: 390px;
  height: 40px;
  font-size: 25px;
  background-color: #f2f9fb;
  color: #577370;
  border: none;
  outline: none;
  text-align: right;
  padding: 0 5px;
}

.emptyInput {
  border: 2px solid red;
}

.user__face {
  position: absolute;
  top: 36px;
  left: 10px;
  color: #729590;
}
.people__textes {
  display: flex;
  justify-content: space-between;
  width: 390px;
  padding: 0px 3px 5px 3px;
}

.people__label,
.error__people {
  font-size: 12px;
  font-weight: 700;
}

.people__label {
  color: #396e5d;
}
.error__people {
  color: red;
  display: none;
}

.show__message {
  display: block;
}

.totals_calculation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #00474a;
  margin: 40px 20px;
  border-radius: 15px;
  width: 400px;
  height: 420px;
}
.amount__block,
.total__block {
  margin: 30px 35px 10px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.amount__numbers,
.total__numbers {
  display: flex;
  color: #9fe8e0;
}
.amount__numbers p,
.total__numbers p {
  font-weight: 900;
  font-size: 35px;
  margin-top: -5px;
}

.tip__amount,
.total__amount {
  color: white;
  font-weight: 900;
}
.total__person,
.tip__person {
  color: #396e5d;
  font-weight: 900;
}

.button__reset {
  width: 320px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px auto;
  background-color: hsl(173, 65%, 28%);
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button__reset:hover {
  background-color: #9fe8e0;
  color: #28726b;
}

/* Responsive part  */

@media screen and (max-width: 950px) {
  .calculator__block {
    width: 600px;
  }

  .totals_calculation,
  .operations__block {
    width: 300px;
  }

  .totals_calculation {
    margin: 40px 10px;
    justify-content: space-evenly;
  }
  .operations__block {
    padding: 30px 10px;
  }

  .bill__input,
  .people__input,
  .people__textes {
    width: 250px;
  }
  .values__ranges {
    flex-direction: row;
  }
  .values__ranges button,
  .values__ranges input {
    width: 100px;
  }

  .values__ranges input {
    padding: 0px 10px;
    letter-spacing: 0.3px;
    font-size: 16px;
  }
  .amount__block,
  .total__block {
    flex-direction: column;
    margin: 21px 0px 0px 20px;
  }

  .amount__numbers p,
  .total__numbers p {
    font-weight: 900;
    font-size: 25px;
    margin-top: 0px;
  }

  .button__reset {
    width: 230px;
    height: 40px;
    font-size: 16px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 600px) {
  .calculator__block {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
  }
  .operations__block {
    width: 90%;
  }
  .totals_calculation {
    height: 360px;
    width: 90%;
  }
  .total__block {
    margin: 21px 0px 30px 20px;
  }
  .bill__input,
  .people__input,
  .people__textes {
    width: 95%;
  }
  .tips__values {
    width: 100%;
  }
  .values__ranges {
    margin-bottom: 30px;
    flex-direction: row;
  }
  .values__ranges button,
  .values__ranges input {
    width: 38vw;
  }
  .button__reset {
    margin: 0px auto;
    width: 90%;
    height: 50px;
    font-size: 22px;
  }
}
